/*  fonts  */

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v25-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-cyrillic_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v25-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v25-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-cyrillic_latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
  }


  body {
	position: relative;
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	height: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

html,body{
    overflow-x: hidden
}

.wrapper{
    width: 80%;
    max-width: 1450px;
}

/**
 * Другие стили
 /* Навигационная панель */

 .navbar{
    position: sticky;
    top: 0;
	background-color: #ffffff;
    width: 100%;
	height: 59px;
    z-index: 100;
}

.navbar .container{
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu{
	list-style-type: none;
	left: 100px;
	margin-bottom: 0;
    margin-right: 100px;
    word-spacing: 17px
}

.navbar-menu li{
	display: inline-block;
}

.navbar-menu li a{
	display: inline-block;
	color: #C20D0D;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	padding: 4px;
	transition: all .07s ease-in-out
}

.navbar-menu li a:hover{
	color: #6b0000
}

.navbar-wrap{
	display: flex;
	flex-flow: row nowrap;
}

.logo{
    display: flex;
	margin-top: 2px;
    margin-left: 65px;
    height: 55px;
}

.navbar-brand:hover{
	transition: all .07s ease-in-out
}

 header{
    width: 100%;
    height: 80px;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
}

.nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin:  6px 0;
    }
    .nav-bar{
        height: 450px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}

/*       баннер       */

.banner{
    width: 100%;
    height: 950px;
    background-color: darkred;
    background: url(img/banner_img.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 720px){
    .banner{
        height: 850px;
    }
}

.bann_cont{
    text-align: center;
    margin-top: 300px;
}

h1{
    font-size: 90px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
@media screen and (max-width: 1350px ) {
    h1{
        font-size: 89px;
    }
}

@media screen and (max-width: 1240px ) {
    h1{
        font-size: 74px;
    }
}

@media screen and (max-width: 1035px ) {
    h1{
        font-size: 69px;
    }
}

@media screen and (max-width: 960px ) {
    h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 735px ) {
    h1{
        font-size: 36px;
    }
}

@media screen and (max-width: 500px ) {
    h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 380px ) {
    h1{
        font-size: 26px;
    }
}

.undtext{
    font-size: 34px;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 960px ) {
    .undtext{
        font-size: 28px;
    }
}

@media screen and (max-width: 735px ) {
    .undtext{
        font-size: 26px;
    }
}

@media screen and (max-width: 500px ) {
    .undtext{
        font-size: 18px;
    }
}

@media screen and (max-width: 380px ) {
    .undtext{
        font-size: 14px;
    }
}

.text-box {
    margin-top: 200px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #610C0C;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #610C0C;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.navbar-wrap, .navbar{
    display: inline-flex;
    justify-content: space-between;
}

/* секция "почему именно мы?" */

.werbest{
    height: 896px;
    width: 100%;
    background-color: white;
}

.rectangle{
    display: block;
    background-color: #861616;
    border: 1px solid #861616;
    border-radius: 50px;
    width: 796px;
    height: 4px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 40px;
}

@media screen and (max-width: 820px ) {
    .rectangle{
        width: 700px;
    }
}

@media screen and (max-width: 720px ) {
    .rectangle{
        width: 600px;
    }
}

@media screen and (max-width: 620px ) {
    .rectangle{
        width: 450px;
    }
}

@media screen and (max-width: 480px ) {
    .rectangle{
        width: 350px;
    }
}

@media screen and (max-width: 370px ) {
    .rectangle{
        width: 250px;
    }
}

h2{
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 102px;
}

h4{
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: bold;
}

.advantages__container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1022px){
    .advantages{
        flex-direction: column;
        align-items: center;
    }
    .advantages__item{
        width: 100%;
    }
}

@media screen and (max-width: 420px){
    .advantages{
        flex-direction: column;
    }
    .advantages__item{
        width: 100%;
    }
}

.advantages{
    padding-top: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.description__wyus{
    width: 70%;
    margin: auto;
    text-align: justify;
}

.description__wyus__text{
    font-size: 22px;
}

@media screen and (max-width: 600px){
    .description__wyus__text{
        font-size: 18px;
    }
}

@media screen and (max-width: 410px){
    .description__wyus__text{
        font-size: 16px;
    }
}

.container_for_wrb{
    width: 80%;
    height: 400px;
    text-align: justify;
    margin: auto;
}

@media screen and (max-width: 982px ) {
    .container_for_wrb{
        height: 600px;
    }
}


.textwywerbest{
    font-size: 24px;
    letter-spacing: 0.0834vw;
    font-weight: 500;
}


.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    gap: 24px;
    max-width: 1300px;
    margin: auto;
}


@media screen and (max-width: 1022px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('img/services1.png');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('img/services2.png');
}

.card--2 .card__img, .card--3 .card__img--hover {
    background-image: url('img/services3.png');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {

  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #dfdfdf;
  width: 350px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  height: 500px;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #dfdfdf;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}


.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat";
}

.card__by {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}


h3{
    font-size: 24px;
    font-weight: bold;
}

.btn-services{
    text-align: center;
}

.banner_btn2{
    display: inline-block;
    background-color: #880C0C;
    color: white;
    border: 2px solid #880C0C;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 8px 40px;
    transition: all .8s ease;
    margin-top: 50px;
}

.services{
    margin-bottom: 70px;
    margin-top: 70px;
}




.catalog{
    height: 900px;
    width: 100%;
    background-color: #610C0C;
    background-image: url(img/banner_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar_catalog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.back{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #610C0C;
    border-radius: 50px;
    background-color: #610C0C;
    padding: 2px 20px;
}

.logo_catalog{
    display: flex;
    height: 50px;
}

.catalog_preview{
    width: 1000px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    margin: auto;
    border-radius: 50px;
}

.catalog_img{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    margin: auto; 
}

.img_catalog{
    display: flex;
    height: 300px;
    position: relative;
    display: inline-block;
}

.img_catalog1 img{
    display: block;
    max-width: 100%;
}

.btn_file{
    position: absolute;
    margin-top: 5px;
    transform: translateX(80%);
    padding: 5px 20px;
    background-color: #610C0C;
    color: #ffffff;
    border: 2px solid #610C0C;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
   }



   
.whererwe{
    height: 1161px;
}

.text_rect{
    padding-top: 50px;
}

.container_out{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 100px 60px 100px 60px;
  }
  .container_out .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #6b0000;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  
  
  .container_out .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 36px;
    font-weight: 600;
    color: #6b0000;
    margin-bottom: 30px;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 35px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }

  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .submit{
    display: inline-block;
    margin-top: 24px;
  }
  .right-side .submit input[type="submit"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    background: #6b0000;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .submit input[type="submit"]:hover{
    background: #5e0000;
  }
  
  @media (max-width: 950px) {
    .container_out{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container_out .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container_out{
      margin: 40px 0;
      height: 100%;
    }
    .container_out .content{
      flex-direction: column;
    }
   .container_out .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container_out .content .left-side::before{
     display: none;
   }
   .container_out .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }

  #burger, [for=burger]{
    display: none;
}

@media screen and (max-width: 992px) {
    .navbar{
        position: fixed;
    }

    .navbar-menu li{
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .container{   
        width: 80%;
    }          
    [for=burger]{
        display: block;
        position: fixed;
        width: 50px;
        text-align: center;
        right: 20px;
        top: 10px;
    }
    [for=burger]::before{
        content: url(img/burger.png);
    }
    .navbar-wrap{
        display: none;
        position: fixed;
        top: 0;
        margin-top: 60px;
        background: rgba(80, 3, 3, 0.692);
        width: 100%;
        user-select: none;
        text-align: center;
    }

    .navbar-menu li a{
        color: #ffffff;
    }
    
    .navbar-menu li a:hover{
        color: #999999
    }

    .navbar-wrap ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    #burger:checked + label + .navbar-wrap{
        display: block;
        animation: show .5s ease;
    }
    #burger:checked +[for=burger]::before{
        content: url(img/burger_close.png);
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.burger{
    display: block;
    width: 50px;
    height: 50px;
}